<%= form_tag password_resets_path, :method => :post do %>
	<h2>Reset My Password</h2>
	<div class='input-container'>
			<div class='label-container'>
				<%= label_tag :player_email, 'Email:', class: 'input-label' %>
			</div> 	
			<div class='field-container'>
				<%= text_field_tag :player_email, nil, class: 'input-field' %>
			</div>
		</div>
  <%= submit_tag "Reset my password!", class: 'btn-submit' %>
  <div style='clear:both;'></div>
<% end %>

