<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
</head>
<body>
	<h2><%= "#{@sub_request.sub.first_name} #{@sub_request.sub.last_name}" %> has subbed into your game!</h2>
	<h4>Their email is <%= @sub_request.sub.email %> if you need to get in touch.</h4>
</body>
</html>