$base-background-color: black;
$header-starting-background-color: #3498db;
$header-ending-background-color: #2c9597;
$light-gray: #bdc3c7;
$base-font-size: 1rem;
$base-font-color: white;
$base-line-height: 1;
$medium-screen: 800px;
$base-border-radius: 5px;
$large-screen: 800px;

.feedback-modal {
  $modal-padding: 2em;
  $modal-background: $base-background-color;
  $modal-close-color: $light-gray;
  $modal-image-height: 135px;
  $modal-image-width: $modal-image-height;

  label {
    cursor: pointer;
    margin-bottom: 0;
  }

  label img {
    $img-width: 300px;
    border-radius: $img-width/2;
    display: block;
    max-width: $img-width;
  }

  input[type="checkbox"] {
    display: none;
  }

  .btn {
    @include button(simple, $base-background-color);
    font-size: $base-font-size;
    margin-bottom: $base-line-height;
  }

  .modal-open {
    overflow: hidden;
  }

  .feedback-modal-window { 
// overlay
    @include transition(opacity .25s ease);
    @include position(fixed, 0px 0px 0px 0px);
    background: rgba(0,0,0, .5);
    opacity: 0;
    text-align: left;
    visibility: hidden;
    z-index: 99999999999;

    .modal-bg {
      @include position(absolute, 0px 0px 0px 0px);
      cursor: pointer;
    }
  }

  .feedback-modal-inner {
    @include transition(opacity .25s ease);
    border-radius: $base-border-radius;
    border: $white-borders;
    background: $modal-background;
    margin: auto;
    position: relative;
    overflow: auto;
    width: 95%;
    padding-top: 75px;
    margin-top: 3em;

    @include media($medium-screen) {
      width: 60%;
      max-height: 80%;
      margin-top: 10em;
    }

    @include media($large-screen) {
      width: 50%;
      margin-top: 10em;
    }

    h2 {
      color: $base-font-color;
      margin-bottom: .6em;
      text-align: left;
      text-transform: capitalize;
    }

    p.intro {
      font-size: 0.8rem;
      max-width: 100% !important;
      text-align: center;

      &.intro {
        color: $base-font-color;
        line-height: 1.6em;
      }
    }

    .modal-header {
      @include position(absolute, 0px 0px null null);
      height: 75px;
      width: 100%;
      @include background-image( linear-gradient(to bottom, $header-starting-background-color, $header-ending-background-color) );

      .modal-title {
        @include position(absolute, 50% 50% null null);
        @include transform(translate(50%,-50%));
      }
    }
  }

  .feedback-modal-state:checked + .feedback-modal-window {
    opacity: 1;
    visibility: visible;
  }

  .feedback-modal-state:checked + .feedback-modal-window .feedback-modal-inner {
    top: 0;
  }
}