<div class="details-modal">
  <input class="details-modal-state" id="modal-2" type="checkbox" />
  <div class="details-modal-window">
    <div class="details-modal-inner">
      <div class='modal-header'>
        <label class="details-modal-close"></label>
        <h2 class='modal-title'>My Game Details</h2>
      </div>
      <br>
      <div class='body'>
    	</div>
    </div>
  </div>
</div>