<div class="feedback-modal">
  <input class="feedback-modal-state" id="modal-3" type="checkbox" />
  <div class="feedback-modal-window">
    <div class="feedback-modal-inner">
      <div class='modal-header'>
        <h2 class='modal-title'>Feedback</h2>
      </div>
      <br>
      <div class='feedback-body'>
    	</div>
    </div>
  </div>
</div>