<div class="sub-modal">
  <input class="sub-modal-state" id="modal-1" type="checkbox" />
  <div class="sub-modal-window">
    <div class="sub-modal-inner">
      <div class='modal-header'>
        <label class="sub-modal-close"></label>
        <h2 class='modal-title'>Sub In Confirmation</h2>
      </div>
      <br>
      <div class='sub-body'>
    	</div>
    </div>
  </div>
</div>